.body {
  background-color: rgb(230, 230, 233);
  overflow-x: hidden; 
}

@media (min-width: 1630px) {
  .body {
    margin: 10px 300px;
  }
}

.start {
  position: relative;
}

.bg {
  width: 100%;
  height: 750%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  z-index: -100;
  object-position: 50% 20%;
}